*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 display: flex;
 flex-direction: row;
}

.avisos{
    width: 100%;
    height: 20rem;
    background-color: rgba(131, 131, 131, 0.274);
    margin-top: 10%;
}

.calculadora{
    text-align: center;
    background:rgb(6, 146, 127);
    width: 100%;
    height: 20rem;
    margin-top: 10%;
    padding: 1.5rem 0;
}

.display{
    background: white;
    border-radius: 0.2rem;
    width: 35%;
    height: 4rem;
    margin: 0 13.8vw;
    margin-top: 0.6rem;
    padding: 1.1rem;
}

.vlr{
    width: 25%;
    margin: 2rem 0;
}

.vlr input{
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    margin-bottom: 1rem;
    width: 15vw;
    height: 2.3rem;
    font-weight: bold;
    font-size: 20px;
    padding-left: 4.5rem;
    border: none;
    outline: none;
}

.btn-calcular{
    width: 90%;
}

button{
    width: 12vw;
    height: 2.5vw;
    cursor: pointer;
    background: rgb(243, 107, 9);
    border: none;
    color: white;
    font-size: 1.5rem;
    outline: none;
}

button:hover{
    background: rgb(151, 64, 2);
    transition: 0.5s;
}

button:active{
    background: rgb(243, 107, 9);
}

.avisos > div{
    margin: 0 2rem
}

.avisos > div h1{
    font-family: 'Raleway', sans-serif;
    margin: 2rem 0;
    font-size: 3.5rem;
    color: rgb(6, 146, 127);
}

.avisos > div p{
   font-family: 'Raleway', sans-serif;  
   font-size: 20px;
   color: rgb(80, 80, 80);
}


.estatisticas img{
    text-align: center;
    margin: 0 19rem;
    width: 5rem;
}

.estatisticas p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 1rem 0;
}




